.poster {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px auto;
  margin-bottom: 30px;
}

.poster-img {
  width: 100%;
  height: 350px;
}

img {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: top center;
}

.poster-image-overlay {
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: opacity 0.3s;
  opacity: 1;
  padding: 5rem;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0.46));
}

.poster-image-overlay:hover {
  opacity: 1;
}

.poster-image-title {
  font-size: 34px;
  color: #fff;
  font-weight: 600;
}

.poster-image-desc {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}

.explore-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.explore-btn:hover {
  backdrop-filter: blur(10px);
}

/* Mens collection */
.heading-coll {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-coll h1 {
  font-size: 40px;
  font-weight: 700;
  color: #333;
}

.men-winter-coll,
.women-winter-coll,
.kid-winter-coll {
  padding: 10px 20px;
}

.home-men,
.home-women,
.home-kid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.home-men .cards,
.home-women .cards,
.home-kid .cards {
  background-color: transparent;
}

.home-men .cards .single-card-home,
.home-kid .cards .single-card-home,
.home-women .cards .single-card-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #efefef;
  padding: 10px 20px;
  width: 200px;
  gap: 10px;
}

.image-container {
  position: relative;
  width: 180px;
  height: 230px;
}

.home-men .cards .single-card-home img,
.home-women .cards .single-card-home img,
.home-kid .cards .single-card-home img {
  max-width: 180px;
}

.home-men .cards .single-card-home .ratings .stars,
.home-kid .cards .single-card-home .ratings .stars,
.home-women .cards .single-card-home .ratings .stars {
  font-size: 10px;
}

/* responsive */
@media screen and (max-width: 600px) {
  .poster {
    height: 60%;
  }

  .poster-image-title {
    font-size: 28px;
    font-weight: 400;
  }

  .poster-image-desc {
    font-size: 20px;
    font-weight: 300;
  }

  .explore-btn {
    padding: 7px 15px;
    font-size: 14px;
  }

  .men-winter-coll,
  .women-winter-coll,
  .kid-winter-coll {
    padding: 10px;
  }

  .heading-coll h1 {
    font-size: 24px;
    font-weight: 600;
  }

  .home-men .cards .single-card-home,
  .home-kid .cards .single-card-home,
  .home-women .cards .single-card-home {
    padding: 8px;
    max-width: 140px;
  }

  .image-container {
    width: 130px;
    height: 150px;
  }

  .home-men .cards .single-card-home img,
  .home-women .cards .single-card-home img,
  .home-kid .cards .single-card-home img {
    width: 100%;
  }
}
